/************************************* CONTACT ***************************/

#main-container-profile
{
display: flex;
flex-direction: column;
width: 80%;
margin: auto;

}


/*section
{
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
*/
.input-field
{
  display: flex;
  flex-direction: column;
  width: 70%;

}

label
{
  margin: 10px 0 10px 0;
  color: #3b7b31;
}
.input-field input, textarea, select
{
  background-color: rgba(0,0,0,0.0);
  border: none;
  border-bottom: 1px solid #3b7b31;
}


form
{
  width: 100%;
}

@media only screen and (min-width: 768px) {
      /************************************* CONTACT ***************************/

#main-container-profile
{

align-items: center;
justify-content: space-between;
width: 100%;
height: 100%;

}


section
{
  width: 50%;
margin-bottom: 10%
}

}

footer
{
  height: 100%;
}
