@media only screen and (min-width: 768px) {
  /******************************************************* NAVBAR *********************************************/

  #desktop-navbar {
    display: block;
  }

  .mobile-only {
    display: none;
  }
  .mobile-hidden {
    display: block;
  }
  aside {
    width: 15%;
    background-color: #e8e8a8;
  }

  aside nav {
    height: 100%;
    width: 100%;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    transform: rotate(-180deg);
  }

  aside nav ul {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  }
  .mainContainer {
    display: flex;
  }

  .container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
  }
  footer {
    background-color: #f5f5dc;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .footerMid {
    order: 0;
  }
  .logocompte {
    padding-left: 10px;
    width: 50px;
  }
  .form-profil {
    width: 450px;
  }
  .formProfil {
    display: flex;
    padding-left: 350px;
    align-items: center;
  }
  .equipe {
    display: flex;
    flex-direction: row;
  }
  .portrait {
    margin-left: 100px;
  }
}
