header {
  background-color: #f5f5dc;
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
body {
  background-color: #f5f5dc;
  margin: 0;
}
footer {
  background-color: #f5f5dc;
  height: 30vh;
  display: flex;
  justify-content: space-around;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.footerNav {
  display: flex;
  flex-direction: column;
}
button {
  border: solid;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  background-color: #f5f5dc;
}
a {
  text-decoration: none;
  color: #3b7b31;
  font-family: "Merienda", cursive;
}
p,
ul,
ol {
  font-family: "Roboto Serif", serif;
}
h2,
h1,
h3 {
  color: #3b7b31;
  font-family: "Merienda", cursive;
}
.logo {
  width: 5vw;
}
.logoprof {
  width: 50px;
  height: 50px;
}

aside {
  min-width: 200px;
  background-color: #e8e8a8;
}

aside nav {
  height: 100%;
  width: 100%;
  writing-mode: vertical-rl;
  text-orientation: sideways;
  transform: rotate(-180deg);
}

nav ul {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.aFooter {
  font-size: 15px;
}
.content {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin-left: 30px;
}

.product {
  text-align: center;
}

.product img {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.buy-button {
  display: inline-block;
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.buy-button:hover {
  background-color: #45a049;
}
.mainContainer {
  display: flex;
}
.product3 {
  height: 22vw;
  width: 80%;
}
.product2 {
  height: 22vw;
  width: 90%;
}
.product1 {
  width: 90%;
  height: 48vh;
}
.produitsphares {
  display: flex;
}

input,
select,
textarea,
button {
  margin-bottom: 10px;
  padding: 5px;
  width: 40%;
}
.containerForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.sidebar {
  flex: 1;
}

.form-container {
  flex: 1;
}

.vertical-line {
  border-left: 2px solid #ccc;
  height: 100%;
  margin: 0 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
}

input,
select,
textarea {
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
}

button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
.histoire_container {
  display: flex;
  flex-direction: column;
  line-height: 20px;
}
hr {
  width: 100%;
  border: solid 1px;
}
.equipe {
  display: flex;
  flex-direction: row;
}
.portrait {
  border-radius: 80%;
  height: 300px;
  border: 3px solid #3b7b31;
}

.container {
  display: grid;
  grid-template-columns: auto 1fr 1fr;

  width: 100%;

  flex-direction: column;
}
#products > h2 {
  text-align: left;
  margin: 5% 0 5% 5%;
}
article {
  width: 300px;
  height: 600px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.card img {
  height: 250px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-container {
  padding: 2px 16px;
  max-height: 200px;
  white-space: nowrap;
  overflow: hidden;
}
.card-container p {
  text-overflow: ellipsis;
}

/* Page client*/
.compteNom {
  width: 200px;
}
input {
  border-bottom: solid 1px;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
  background: none;
  text-align: center;
}

.formProfil {
  display: flex;
  align-items: center;
}
.form-profil {
  width: 500px;
  display: flex;
  justify-content: center;
  padding-left: 350px;
}
.logocompte {
  width: 100px;
  padding-left: 200px;
}
/* Page mes commandes*/
.commandes {
  display: flex;
  flex-direction: column;
}
