/*BODY*/
body {
  background-color: #f5f5dc;
  margin: 0;
  font-family: "Roboto";
}
body, html
{
  height: 100%;  
}

a {
  text-decoration: none;
  color: #3b7b31;
  font-family: "Merienda", cursive;
}

h3,
h2,
h1 {
  color: #3b7b31;
  font-family: "Merienda", cursive;
}



/* HEADER */
header {
  background-color: #f5f5dc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
}

#position-fixed-header
{
  height: 13%;
}
.logo {
width: 75px;
}
.logoprof {
  width: 50px;
  height: 50px;
}

/* NAVBAR*/
#desktop-navbar
{
  display: none;
}
nav ul
{
  list-style: none;
  padding: 0;
}
.mobile-hidden
{
  display: none;
}

nav ul li img
{
    width: 50px;
}
img.mobile-only
{
  order: -1;
  width: 25px;
  height: 25px;
}

/* MAIN CONTENT */

.main-container
{
  display: flex;
}
.container
{
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;

}

/*FOOTER*/
footer {
  background-color: #f5f5dc;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  flex-wrap: wrap;
}

.footer-button
{
  order: 1;
}
button {
  border: 1px solid black;
  padding: 20px;
  text-align: center;
  background-color: #3b7b31;
  width: 100%;
  text-transform: uppercase;
  color: white;
}

.footer-copyright
{
  width: 100%;
  background-color: #e8e8a8;
  text-align: center;
}

footer nav, .footer-contact-details, .footer-button
{
  padding: 2px 16px;
}
